/*
 * AimMatic API
 * APIs for Natural Voice and placeNext
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.TranscriptResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class UploadTranscriptApi {
    private ApiClient apiClient;

    public UploadTranscriptApi() {
        this(Configuration.getDefaultApiClient());
    }

    public UploadTranscriptApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for insightsUploadTranscriptPost
     * @param transcript (required) String, text for natural language processing (required)
     * @param deviceLanguage String, BCP-47 identifier, language code parameter for speech-to-text recognition, for best results use speechLang value defined by user, use device language only if speechLang is not available from the user (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call insightsUploadTranscriptPostCall(String transcript, String deviceLanguage, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/insights/UploadTranscript";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (transcript != null)
        localVarFormParams.put("transcript", transcript);
        if (deviceLanguage != null)
        localVarFormParams.put("deviceLanguage", deviceLanguage);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call insightsUploadTranscriptPostValidateBeforeCall(String transcript, String deviceLanguage, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'transcript' is set
        if (transcript == null) {
            throw new ApiException("Missing the required parameter 'transcript' when calling insightsUploadTranscriptPost(Async)");
        }
        
        
        com.squareup.okhttp.Call call = insightsUploadTranscriptPostCall(transcript, deviceLanguage, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Upload transcripts to Natural Voice
     * Developers use the Upload Transcript API to upload transcripts to Natural Voice for automated text analysis by natural language processing (NLP). 
     * @param transcript (required) String, text for natural language processing (required)
     * @param deviceLanguage String, BCP-47 identifier, language code parameter for speech-to-text recognition, for best results use speechLang value defined by user, use device language only if speechLang is not available from the user (optional)
     * @return TranscriptResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TranscriptResponse insightsUploadTranscriptPost(String transcript, String deviceLanguage) throws ApiException {
        ApiResponse<TranscriptResponse> resp = insightsUploadTranscriptPostWithHttpInfo(transcript, deviceLanguage);
        return resp.getData();
    }

    /**
     * Upload transcripts to Natural Voice
     * Developers use the Upload Transcript API to upload transcripts to Natural Voice for automated text analysis by natural language processing (NLP). 
     * @param transcript (required) String, text for natural language processing (required)
     * @param deviceLanguage String, BCP-47 identifier, language code parameter for speech-to-text recognition, for best results use speechLang value defined by user, use device language only if speechLang is not available from the user (optional)
     * @return ApiResponse&lt;TranscriptResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TranscriptResponse> insightsUploadTranscriptPostWithHttpInfo(String transcript, String deviceLanguage) throws ApiException {
        com.squareup.okhttp.Call call = insightsUploadTranscriptPostValidateBeforeCall(transcript, deviceLanguage, null, null);
        Type localVarReturnType = new TypeToken<TranscriptResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Upload transcripts to Natural Voice (asynchronously)
     * Developers use the Upload Transcript API to upload transcripts to Natural Voice for automated text analysis by natural language processing (NLP). 
     * @param transcript (required) String, text for natural language processing (required)
     * @param deviceLanguage String, BCP-47 identifier, language code parameter for speech-to-text recognition, for best results use speechLang value defined by user, use device language only if speechLang is not available from the user (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call insightsUploadTranscriptPostAsync(String transcript, String deviceLanguage, final ApiCallback<TranscriptResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = insightsUploadTranscriptPostValidateBeforeCall(transcript, deviceLanguage, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TranscriptResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
